<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springboot.mapper.EliteSitesMapper">
    <resultMap id="EliteSitesResultMap" type="com.example.springboot.entity.EliteSites">
        <id property="geohash" column="geohash"/> <result property="centerLat" column="center_lat"/>       <result property="centerLon" column="center_lon"/>       <result property="topLeftLat" column="top_left_lat"/>
        <result property="topLeftLon" column="top_left_lon"/>
        <result property="topRightLat" column="top_right_lat"/>
        <result property="topRightLon" column="top_right_lon"/>
        <result property="bottomRightLat" column="bottom_right_lat"/>
        <result property="bottomRightLon" column="bottom_right_lon"/>
        <result property="bottomLeftLat" column="bottom_left_lat"/>
        <result property="bottomLeftLon" column="bottom_left_lon"/>
        <result property="regionGroupId" column="region_group_id"/>
        <result property="parkingCapacity" column="parking_capacity"/> </resultMap>

    <select id="findByGeohashInfo" resultMap="EliteSitesResultMap">
        SELECT
            geohash,
            center_lat,
            center_lon,
            top_left_lat,
            top_left_lon,
            top_right_lat,
            top_right_lon,
            bottom_right_lat,
            bottom_right_lon,
            bottom_left_lat,
            bottom_left_lon,
            region_group_id,
            parking_capacity
        FROM elite_sites
        WHERE geohash = #{geohash} LIMIT 1
    </select>

    <select id="findAll" resultMap="EliteSitesResultMap">
        SELECT  geohash, center_lat, center_lon, parking_capacity
        FROM elite_sites
    </select>

    <select id="selectEliteSitesByBounds" resultType="com.example.springboot.entity.EliteSites">
        SELECT *
        FROM elite_sites
        WHERE center_lat BETWEEN #{minLat} AND #{maxLat}
          AND center_lon BETWEEN #{minLon} AND #{maxLon}
    </select>


</mapper>