<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springboot.mapper.StaffMapper">

    <resultMap id="StaffResultMap" type="com.example.springboot.entity.Staff">
        <id column="staff_id" property="staffId"/>
        <result column="username" property="username"/>
        <result column="password_hash" property="passwordHash"/>
        <result column="managerId" property="managerId"/>
        <result column="geohash" property="geohash"/>
    </resultMap>

<!--    <select id="findByUsername" parameterType="String" resultMap="StaffResultMap">-->
<!--        SELECT staff_id, username, password_hash, managerId, geohash FROM staff WHERE username = #{username}-->
<!--    </select>-->

    <insert id="insertStaff" parameterType="com.example.springboot.entity.Staff" useGeneratedKeys="true" keyProperty="staffId" keyColumn="staff_id">
        INSERT INTO staff (username, password_hash, managerId, geohash)
        VALUES (#{username}, #{passwordHash}, #{managerId}, #{geohash})
    </insert>

    <update id="updateStaff" parameterType="com.example.springboot.entity.Staff">
        UPDATE staff
        <set>
            <if test="username != null">username = #{username},</if>
            <if test="passwordHash != null">password_hash = #{passwordHash},</if>
            <if test="managerId != null">managerId = #{managerId},</if>
            <if test="geohash != null">geohash = #{geohash},</if>
        </set>
        WHERE staff_id = #{staffId}
    </update>

</mapper>